<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="../../assets/img/logo-white.png">
        <p>
          We are driven by uncompromising <br>
freshness and quality, gracious hospitality and a <br> growing list of restaurants.
        </p>
        <div class="row">

        <i class="fab fa-google"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        </div>

      </div>
      <div class="col">
        <h2>USEFUL LINKS</h2>
        <span class="line"></span>
        <a class="row" href="#">Order Online</a>
        <a class="row" href="#">Book A Table</a>
        <a class="row" href="#">Store Locator</a>
        <a class="row" href="#">Inquiry</a>
        <a class="row" href="#">Contact</a>
      </div>
      <div class="col">
        <h2>DISCLAIMER</h2>
        <span class="line"></span>
        <P>
          We bring to the notice of all concerned that any of the Punjab Grill Restaurants owned and operated by Lite Bite Foods Private Limited (“LBF”) never seek for any of its customers pin no/passwords/ OTP/ CVV/ of their credit cards or debit or any other personal financial details.
          Sharing of these details with any third parties may lead to fraudulent transactions from your account.
        </P>
      </div>
    </div>
  </div>

</div>
