  <div class="navbar">
    <img src="../../assets/img/logo-white.png" alt= "food logo" class="logo">
    <ul class="nav justify-content-end main-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/home">HOME</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" routerLink="/gallery">GALLERY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/menu">ORDER ONLINE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/menu">BOOK A TABLE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/menu">CONTACT</a>
      </li>
    </ul>
</div>




