<h1>Our Gallery</h1>
<span class="line"></span>



<div class="navbar d-flex justify-content-center">
  <ul class="main-nav">
    <li class="nav-item">
      <button type="button" class="btn btn-light btn-lg btn-block" routerLink="/gallery/all_photos">ALL</button>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-light btn-lg btn-block" routerLink="/gallery/food_photos">FOOD</button>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-light btn-lg btn-block" routerLink="/gallery/drinks_photos">DRINKS</button>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-light btn-lg btn-block">SALAD</button>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-light btn-lg btn-block">AMBIENCE</button>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-light btn-lg btn-block">AWARDS</button>
    </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>



