<div class="background_img">
  <div class="hero-text-box">
    <h1> DO YOU WANT TO EAT BETTER?<br>
      WELCOME TO HEALTHY MEALS.</h1>
    <a class="btn btn-full" href="#">I’m Hungry </a>
    <a class="btn btn-ghost" href="#">Show me more </a>
  </div>
</div>

<h2>About Omni Food</h2>
<span class="line"></span>


  <div class="container">
    <div class="row">

      <div class="col-3">
        <div class="row">
        <img src="../../assets/img/about-img1.jpg" class="about_img1">
        </div>
        <div class="row">
          <img src="../../assets/img/about-img2.jpg" class="about_img2">
        </div>
      </div>

      <div class="col-3">
        <img src="../../assets/img/about-img3.jpg" class="about_img3">
      </div>

      <div class="col-6">
        <h3>
          Welcome to Omni Food
        </h3>
        <P class="about_para">Quisque sit amet turpis et ipsum elementum facilisis. Quisque sed placerat libero. Pellentesque nec tellus sollicitudin, sollicitudin ligula non, tristique nibh Donec vitae turpis sagittis, cursus nunc ac, aliquet nunc. Donec viverra vel massa at posuere. Aliquam et fringilla augue consequat posuere sem, eu ornares viverra veleso massa at posuere. Aliquam et fringilla augue

          "Mauris tempor libero fringilla orci vivrra faucibue fringilla orci vivrra faucibus. Integer ullamcorper erat in tellus efficitur, quis porta sapien tincidunt. Nunc mattis lectus sed semper semper."</P>

      </div>
    </div>
  </div>

    <div class="cities">
      <div class="container">
      <h2>WE'RE CURRENTLY IN THESE CITIES.</h2>
      <span class="line"></span>

    <div class="row">
      <div class="col box">
        <img src="../../assets/img/lisbon-3.jpg" alt="libson img">
        <h3>Libson</h3>
        <div class="city-feature">

          1600+ happy eaters
      </div>

      <div class="city-feature">

          60+ top chefs
      </div>

      <div class="city-feature">

          <a href="#">@omnifood_lx</a>
      </div>
    </div>

      <div class="col box">
        <img src="../../assets/img/berlin.jpg" alt="berlin img">
        <h3>Berlin</h3>
        <div class="city-feature">

          1600+ happy eaters
      </div>

      <div class="city-feature">

          60+ top chefs
      </div>

      <div class="city-feature">

          <a href="#">@omnifood_lx</a>
      </div>
    </div>


      <div class="col box">
        <img src="../../assets/img/london.jpg" alt="london img">
        <h3>London</h3>
        <div class="city-feature">

          1600+ happy eaters
      </div>

      <div class="city-feature">

          60+ top chefs
      </div>

      <div class="city-feature">

          <a href="#">@omnifood_lx</a>
      </div>
    </div>

      <div class="col box">
        <img src="../../assets/img/san-francisco.jpg" alt="san-francisco img">
        <h3>San-francisco</h3>
        <div class="city-feature">

          1600+ happy eaters
      </div>

      <div class="city-feature">

          60+ top chefs
      </div>

      <div class="city-feature">

          <a href="#">@omnifood_lx</a>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="container">
      <h2>How it works &mdash; simple as 1, 2, 3</h2>
      <span class="line"></span>
  <div class="row">
      <div class="col steps-box">
          <img src="../../assets/img/app-iPhone.png" alt="app pic" class="app-screen">
      </div>

      <div class="col steps-box">
          <div class="works-step">
             <div>1</div>
             <p>Choose the subscription plan that best fits your needs ang sign up today </p>
          </div>
          <div class="works-step">
             <div>2</div>
             <p>Order your delicious meal using mobile app or website. Or you can even call us!</p>
          </div>
          <div class="works-step">
             <div>3</div>
             <p>Enjoy your meal after less than 20 minutes. See you next time! </p>
          </div>

     <a href="#" class="btn-app"><img src="../../assets/img/download-app.svg" alt="app store button"></a>
     <a href="#" class="btn-app"><img src="../../assets/img/download-app-android.png" alt="play store button"></a>

  </div>
  </div>
</div>
